.Cover {
  box-sizing: border-box;
  /*background: rgba(255,255,255,0.5);*/
  background: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.4));
  background-image: url('./superMoonMtnPeak.jpg');

  background-position: center;
  background-size: cover;
  width: 100%;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
  /*padding: 1em;*/

  /*min-height: 25vh;
  height: 25vh;*/

  box-shadow: inset 0px -7px 10px -5px rgba(0,0,0,0.3);
  border-bottom: 1px solid rgba(255,255,255,0.05);

  min-height: 60vh;
  height: 60vh;
}

/*@media (max-width: 700px) {
  .Cover {
    min-height: 60vh;
    height: 60vh;
  }
}*/

/*@media (min-width: 700px) {
  .Cover {
    min-height: 50vh;
    height: 50vh;
  }

}*/

@media (min-width: 1000px) {
  /*.Cover {
    min-height: 40vh;
    height: 40vh;
  }*/
}
