// $bgColor: #282b33;
$bgColor: #010101;

$fontColor: rgba(255,255,255,0.5);


// Colors
$blue: rgb(1, 183, 253);
$dkBlue: rgb(2, 53, 106);

$red: rgb(240, 134, 1);
$mdRed: rgb(240, 89, 0);
$dkRed: rgb(155, 60, 2);

// $grey: #7D7D7D;
