@import '../../style/colors.scss';

.Tab {
  font-family: 'Roboto', sans-serif;
  font-style: 700i;
  height: 40px;
  // flex: 1;
  display: flex;
  // width: 100%;
  // border: 1px solid red;
  // padding: 0 1em;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  // border-bottom: 2px solid transparent;
  cursor: pointer;
  // opacity: 0.8;
  // color: inherit;
  // transition: color 0.25s ease;
  user-select: none;

  transition: opacity 0.3s, transform 0.3s, color 0.3s ease;

  > a {
    display: flex;
    flex-flow: row nowrap;

    color: white;
    transition: opacity 0.3s, transform 0.3s ease-in;
    opacity: 0.2;
    padding: 1em 0;
    // transform: skewX(155deg);
  }

  &:hover {
    > a {
      opacity: 1;
      transform: translateY(-2px);
      text-shadow: 0 1px 4px rgba(0,0,0,0.3);
    }
  }
  &:active {
    > {

    }
    opacity: 0.9;
  }


  &:hover {
    opacity: 0.9;
  }


}

.active {
  color: $red;
  opacity: 1;
  // background: rgba(255,255,255,0.5);
  // border-color: yellow;
  // border-color: yellow;
}

.divider {
  font-size: 1.5em;
  font-weight: 700;
  margin: 0 10px 0 10px;
}
