@import './style/colors.scss';

html {
  overflow: hidden;
  font-size: 16px;
}
html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Anonymous Pro', monospace;
  // font-family: 'LektonRegular', Monaco, Andale Mono, monospace;
  font-style: regular 400 Italic;
  background: $bgColor;
  color: $fontColor;
  display: flex;
  align-items: center;
  justify-content: center;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-size: 18px;
  line-height: 1.5;
}


* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
